<%- include('../partials/_header.ejs') %>

<h1>Detail du message <%= message.id %> </h1>

<p>Date de création : <%= formattedCreateDate %> </p>
<p>Pseudo : <%= message.pseudo %> </p>
<p>Contenu : <%= message.content %> </p>


<%- include('../partials/_footer.ejs') %>